<table class="table table-borderless">
  <tbody>
    <tr>
      <th style="width: 40%">●<%= crop_folder.crop_name %></th>
      <td style="width: 30%">
        <%= link_to crop_folder_path(crop_folder.id), class: "btn btn-outline-secondary btn-block" do %>
         <i class="fas fa-pen"></i> 日記
        <% end %>
      </td>
      <td style="width: 30%">
        <%= link_to  crop_folder_plans_path(crop_folder.id), class: "btn btn-outline-secondary btn-block"   do %>
          <i class="fas fa-calendar"></i> 計画
        <% end %>
      </td>
    </tr>
  </tbody>
</table>