<table class="table table-borderless">
  <tbody>
    <tr>
      <th style="width: 50%">●<span> </span><%= item.item_name %></th>
      <td style="width: 50%">
        <%= link_to item_path(item.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-check"></i> 出品内容を確認
        <% end %>
      </td>
    </tr>
  </tbody>
</table>