<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <%= render "info", user: @user %>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h5>お気に入り一覧</h5>
      <%= render "crop_folders/index", crop_folders: @favorite_list %>
    </div>
  </div>
</div>