<div class="container">
  <div class="row">
    <div class="col-md-5">
      <% if @user == current_user %>
        <p>新しい商品を登録</p>
        <%= render 'layouts/errors', obj: @new_item %>
        <%= render 'items/form', item: @new_item %>
      <% else %>
        <%= render 'info', user: @user %>
      <% end %>
    </div>
    <div class="col-md-6 offset-md-1">
      <%= render 'items/index', items: @items %>
    </div>
  </div>
</div>
