<div class="container">
  <div class="row">
    <div class="col-md-5">
      <% if @user == current_user %>
       <p>新しい作物の栽培を登録</p>
       <%= render 'layouts/errors', obj: @crop_folder %>
       <%= render 'crop_folders/form', crop_folder: @crop_folder%>
      <% else %>
        <%= render "info", user: @user %>
      <% end %>
    </div>
    <div class="col-md-6 offset-md-1">
      <% if @user.crop_folders.length > 0 %>
        <%= render 'crop_folders/index', crop_folders: @crop_folders %>
      <% else %>
        <p>=== 登録した作物はありません ===</p>
      <% end %>
    </div>
  </div>
</div>

