  <% chats.each do |chat|%>
    <% if chat.user_id != current_user.id %>
    <tbody>
      <tr>
        <td class="icon_1"><%= image_tag @user.get_profile_image(45,45), class: "message_icon" %></td>
        <td colspan="2"><div class="message_box_1"><%= chat.message %></div></td>
        <td></td>
      </tr>
    </tbody>
    <% else %>
    <tbody>
      <tr>
        <td></td>
        <td colspan="2" class="message_2"><div class="message_box_2"><%= chat.message %></div></td>
        <td></td>
      </tr>
    </tbody>
    <% end %>
  <% end %>