  <% chats.each do |chat|%>
    <% if chat.user_id != current_user.id %>
    <tbody>
      <tr>
        <td class="icon_1"><%= image_tag @user.get_profile_image(50,50), class: "message_icon pl-0 pr-4" %></td>
        <td colspan="2"><div class="message_box_1"><%= chat.message %></div></td>
        <td></td>
      </tr>
    <% else %>
      <tr>
        <td></td>
        <td colspan="2" class="message_2"><div class="message_box_2"><%= chat.message %></div></td>
        <td></td>
      </tr>
    </tbody>
    <% end %>
  <% end %>