$(document).ready(function(){
  $('.message_table').append('<td></td><td></td><td class="message_2"><div class="message_box_2"><%= @chat.message %></div></td><td class="icon_2"><%= image_tag @user.get_profile_image(50,50), class: "message_icon" %></td>');
});
$("textarea").val('');