<div class="main_container">
  <div class="main_image"></div>
  <div class="main_text">
    <h1 class="mb-3">あなたの大切な作物を</h1>
    <p><span>もっと</span>もっと</p>
    <h2>輝かせる</h2>
  </div>
</div>
<div class="container">
  <div class="row">
   <div class="col-md-4 offset-md-2">
      <h3 class="main_about">菜園の世界って...?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mx-auto mb-5">
      <p>栽培作物を記録したり、計画を立てることができます。</br>また、たくさん採れた作物を出品することができます。</br>他の会員様の栽培過程や商品も確認できますので、</br>あなたの栽培に取り入れてみてはいかがでしょうか？</br>お気に入り機能やコメントを活用し、より良い栽培を目指しましょう！！</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <h3 class="main_about">どんな人が利用するの...?</h3>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <p class="text-center">栽培を楽しみたい方、商品を見たい方、どなたでもご利用いただけます。</p>
    </div>
  </div>
  <div class="row who-container">
    <div class="col-md-3 who-box">
      <div class="user-1-box"></div>
      <span class="top">例</span>
      <h6 class="title">作物を栽培したい方</h6>
      <p class="text">家庭菜園される方から農家の方まで、幅広くご利用いただけます。自分が栽培した作物をしっかり管理できるので、さらにより良い栽培になります。</p>
    </div>
    <div class="col-md-3 who-box">
      <div class="user-2-box"></div>
      <span class="top">例</span>
      <h6 class="title">作物を出品・購入したい方</h6>
      <p class="text">作りすぎて余ってしまった作物はありませんか？どなたでも出品や購入が可能です。メッセージのやり取りで簡単に売買をしていただきます。</p>
    </div>
    <div class="col-md-3 who-box">
      <div class="user-3-box"></div>
      <span class="top">例</span>
      <h6 class="title">作物や商品を見たい方</h6>
      <p class="text">菜園の世界では会員様の様々な作物を見ることができます。見るだけでも菜園の世界にハマります。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 mx-auto mt-5">
      <h7 class="guest_text text-center">まずは会員登録なしで、お試ししてみませんか？</h7>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-auto my-4">
      <%= link_to 'お試しログイン', users_guest_sign_in_path, class: "btn btn-secondary btn-block sign_in", method: :post %>
    </div>
  </div>
</div>
