<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-5 px-5 px-sm-0 mx-auto">
      <h4>栽培作物の編集</h4>
      <%= render 'layouts/errors', obj: @crop_folder %>
      <%= render 'crop_folders/form', crop_folder: @crop_folder %>
    </div>
  </div>
</div>