@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// 全体

  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }

  header {
    width: 100%;
  }

  footer {
    width: 100%;
    background: #98d98e;
    background: url(/images/syokubutsu_nae.png);
    background-repeat: no-repeat;
    height: 100px;
  }

  .container {
    margin-top: 3%;
  }

  .field_with_errors {
    display: contents;
    input {
    @extend .is-invalid;
    }
  }

  .link {
    font-weight: bold;
    text-decoration: none;
    color: #703b32;
  }


// トップ

  .main_container{
    position: relative;
  }

  .main_image {
    height: 900px;
    width: 100%;
    background: url(/images/main_image.jpg);
    background-size: cover;
  }

  .main_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: "游ゴシック","ヒラギノ角ゴ ProN",sans-serif;
    text-align: center;
  }

  .main_text h1, h2 {
    font-size: 60px;
    font-weight: 900;
  }

  .main_text p span {
    font-size: 30px;
    font-weight: 900;
  }

  .main_text p,.main_about {
    font-size: 40px;
    font-weight: 900;
    transform: rotate(-4deg);
    position: relative;
    display: inline-block;
    padding: 0 30px;
    margin-bottom: 36px;
  }

  .main_text p:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(-25deg);
  }


  .main_text p:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(25deg);
  }

  .main_about {
    font-size: 30px;
  }

  .main_about:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(-25deg);
  }


  .main_about:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: #000;
    border-radius: 3px;
    transform: rotate(25deg);
  }
  
  .who-container {
    display: flex;
    justify-content: center;
  }

  .who-box {
    width: 300px;
    background-color: #eeeeee;
    margin-right: 30px;
    position: relative;
    padding: 10px;
  }

  .who-box:last-child {
    margin-right: 0;
  }

  .user-1-box {
    height: 150px;
    background-image: url(/images/user1.jpg);
    background-position: bottom;
    background-size: cover;
  }

  .user-2-box {
    height: 150px;
    background-image: url(/images/user2.jpg);
    background-position: bottom;
    background-size: cover;
  }

  .user-3-box {
    height: 150px;
    background-image: url(/images/user3.jpg);
    background-position: bottom;
    background-size: cover;
  }

  .top {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: #ff9a4b;
    padding: 3%;
  }

  .title {
    margin: 15px 0 5px;
  }


  .crop_item_info {
    display: flex;
    align-items: center;
  }

  .crop_container {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    height: auto;
    width: 100%;
    margin_bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }

   .crop_container:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }

  .crop_box {
    max-width: 63%;
  }

  .item_container {
    position: relative;
    background: #fff0f5;
    box-shadow: 0px 0px 0px 5px #fff0f5;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    height: auto;
    width: 100%;
    margin_bottom: 100px;
    display: flex;
    flex-wrap: wrap;
  }

  .item_container:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #fff0f5  #fff #fff0f5;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }

  .item_box {
    max-width: 63%;
  }

  .crop_folder_image {
    padding: 4% 3%;
  }

  .diary_box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 20px;
    margin-bottom: 60px;
    box-shadow: 0 10px 8px -6px #bebebe;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .crop_image {
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }

  .crop_image img{
    line-height: 300px;
  }

  .masking-tape {
    position: absolute;
    top: -20px;
    left: 30%;
    width: 100px;
    height: 30px;
    border-left: 2px dotted rgba(0,0,0,.1); /* マステの左のギザギザ */
    border-right: 2px dotted rgba(0,0,0,.1); /* マステの右のギザギザ */
    box-shadow: 0 0 5px rgba(0,0,0,.2); /* マステに影をつける */
    transform: rotate(4deg); /* マステを回転させる */
    padding: 5px 15px; /* マステの内側の余白 */
    background-color: #FAFF07;
    color: #333;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }

  .simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {
    background: #98fb98;
  }
}

  .message_table {
    width: 100%;
    table-layout: fixed;
  }

  .message_table th {
    font-size: 20px;
  }

  .message_table th:nth-of-type(1){
    text-align: right;
  }

  .message_table th:nth-of-type(4){
    text-align: left;
  }

  .message_box_1,.message_box_2 {
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    padding: 2%;
    margin: 10px;
    display: inline-block;
    // word-break: break-word;
    white-space: pre-wrap;
  }


  .message_box_1 {
    background-color: #98fb98;
    border: 2px dotted #333;
    text-align: left;
  }

  .message_box_2 {
    background-color: #fffacd;
    border: 2px dotted #333;
    text-align: left;
  }

  .message_2 {
    text-align: right;
  }


  .message_icon {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50% ;
  }

  .icon_1 {
    text-align: right;
  }

  .message_form {
    text-align: right;
  }

  .btn-submit {
    background-color: #de987c;
    margin-top: 10px;
  }

  .long_text {
    white-space: pre-wrap;
  }
