
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

  html {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    flex: 1;
  }

  header {
    width: 100%;
  }

  footer {
    width: 100%;
    background: #98d98e;
  }

  // .jumbotron {
  //   height: 200px;
  //   width: 100%;
  //   background: url(/images/main_image.jpg);
  //   background-repeat: no-repeat;
  //   background-position: 90% 30%;
  //   background-color:rgba(255,255,255,0.4);
  //   background-blend-mode:lighten;
  // }

  .crop_box {
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    height: auto;
    margin_bottom: 100px;
  }

  .crop_box:after {
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
  }

  .diary_box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 20px;
    margin-bottom: 60px;
    box-shadow: 0 10px 8px -6px #bebebe;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  .crop_image {
    width: 300px;
    height: 300px;
    margin: 20px 0;
  }

  .crop_image img{
    line-height: 300px;
  }

  .masking-tape {
    position: absolute;
    top: -20px;
    left: 30%;
    width: 100px;
    height: 30px;
    border-left: 2px dotted rgba(0,0,0,.1); /* マステの左のギザギザ */
    border-right: 2px dotted rgba(0,0,0,.1); /* マステの右のギザギザ */
    box-shadow: 0 0 5px rgba(0,0,0,.2); /* マステに影をつける */
    transform: rotate(4deg); /* マステを回転させる */
    padding: 5px 15px; /* マステの内側の余白 */
    background-color: #FAFF07;
    color: #333;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
  }

  .simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month { }
  .current-month {}

  .has-events {}
}

