<div class="container mb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-7 offset-lg-2">
      <h4>商品の編集</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-lg-6 mx-auto">
      <div class="col">
        <%= render 'layouts/errors', obj: @item %>
        <%= render 'form', item: @item %>
      </div>
    </div>
  </div>
</div>