<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h4>新しい商品を登録</h4>
      <div class="col">
        <%= render 'layouts/errors', obj: @item %>
        <%= render 'form', item: @item %>
      </div>
    </div>
  </div>
</div>